<div class="page">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="bastion.logo">
    <span>+7 (4812) 40–44–19</span>
  </div>

  <na-door [door]="order.door"></na-door>

  <div class="order-data-left">
    <!-- Данные заказа -->
    <div class="row">
      <div class="col">Бланк-Заказ №</div>
      <div class="col">{{ order.preId }}–{{ order.id }}</div>
    </div>
    <div class="row">
      <div class="col">от</div>
      <div class="col">{{ order.orderDate }}</div>
    </div>
    <div class="row">
      <div class="col">Дата установки</div>
      <div class="col">{{ order.installDate }}</div>
    </div>

    <div class="delim"></div>

    <div class="row">
      <div class="col">Заказчик</div>
      <div class="col">
        {{ order.customer.secondName }}
        {{ order.customer.firstName }}
        {{ order.customer.patrName }}
      </div>
    </div>
    <div class="row">
      <div class="col">Адрес</div>
      <div class="col">{{ order.customer.address }}</div>
    </div>
    <div class="row">
      <div class="col">Телефон</div>
      <div class="col">
        {{ order.customer.phones[0] | phoneNumber }}<span *ngIf="order.customer.phones[1].length > 0">; {{ order.customer.phones[1] | phoneNumber }}</span>
      </div>
    </div>

    <div class="delim"></div>

    <div class="door-params">
      <div class="row">
        <div class="col">Конструкция</div>
        <div class="col">{{ order.door.construction.toLowerCase() === "дмп" ? "ДМП–Г–" + order.door.type + "/ЕI-60" : order.door.construction }}</div>
      </div>
      <div class="row">
        <div class="col">Тип открывания</div>
        <div class="col">{{ order.door.openingType === 0 ? "внутренний" : "наружный" }}</div>
      </div>
      <div class="row">
        <div class="col">Отделка наружная</div>
        <div class="col">{{ order.door.otdOut }}</div>
      </div>
      <div class="row">
        <div class="col">Отделка внутренняя</div>
        <div class="col">{{ order.door.otdIn }}</div>
      </div>
      <div class="row">
        <div class="col">Наличник</div>
        <div class="col">{{ order.door.nalich }}</div>
      </div>
      <div class="row">
        <div class="col">Глазок</div>
        <div class="col">{{ order.door.glaz }}</div>
      </div>
      <div class="row">
        <div class="col">Задвижка</div>
        <div class="col">{{ order.door.zadv }}</div>
      </div>
      <div class="row">
        <div class="col">Замок верхний</div>
        <div class="col">{{ order.door.lockTop }}</div>
      </div>
      <div class="row">
        <div class="col">Замок нижний</div>
        <div class="col">{{ order.door.lockBottom }}</div>
      </div>
      <div class="row">
        <div class="col">Ручка</div>
        <div class="col">{{ order.door.furnitura }}</div>
      </div>
      <div class="row">
        <div class="col">Личина</div>
        <div class="col">{{ order.door.lich }}</div>
      </div>
      <div class="row">
        <div class="col">Броненакладка</div>
        <div class="col">{{ order.door.bronenakl }}</div>
      </div>
      <div class="row">
        <div class="col">Внутр. утепл.</div>
        <div class="col">{{ order.door.warmer }}</div>
      </div>
    </div>

    <div class="delim"></div>

    <div class="row">
      <div class="col">Примечания</div>
      <div class="col">{{ order.notes }}</div>
    </div>
  </div>

  <br>

  <div class="order-data-right">
    <div class="row">
      <div class="col">Стоимость заказа</div>
      <div class="col">{{ order.cost | delimitNumber }}&nbsp;руб.</div>
    </div>
    <div *ngIf="order.prepayment > 0">
      <div class="row">
        <div class="col">Предоплата</div>
        <div class="col">{{ order.prepayment | delimitNumber }}&nbsp;руб.</div>
      </div>
      <div class="row">
        <div class="col">Остаток</div>
        <div class="col">{{ order.cost - order.prepayment | delimitNumber }}&nbsp;руб.</div>
      </div>
    </div>
  </div>

  <div class="disclaimer">
    <p>
      С комплектацией изделия ознакомлен{{ order.customer.sex === 0 ? "" : "a" }},
      со стоимостью соглас{{ order.customer.sex === 0 ? "ен" : "нa" }}
    </p>
    <div class="signiture">
      <div class="field">
        <div class="tip">подпись</div>
      </div>
      /{{ order.customer.secondName }}
      {{ order.customer.firstName | slice:0:1 }}.
      {{ order.customer.patrName | slice:0:1 }}./
    </div>
  </div>
</div>