// $fnt: calc(2vh - 1.35px);
// $logo: calc(24vh - 16.2px);

@media (max-width: 575px) {}
@media (min-width: 576px) and (max-width: 767px) {.page {font-size: 0.79em;}}
@media (min-width: 768px) and (max-width: 991px) {.page {font-size: 1.03em;}}
@media (min-width: 992px) and (max-width: 1199px) {.page {font-size: 1.4em;}}
@media (min-width: 1200px) {.page {font-size: 1.65em;}}

.page {
  position: relative;
  height: 100%;
  padding: 1em;

  .order-data-left {
    .row {
      padding: 0;
      margin-top: 0.4em;

      &:first-child {
        margin-top: 0;
      }

      .col {
        padding: 0;

        &:first-child {
          max-width: 10.9em;
          text-align: right;
          font-weight: bold;
        }

        &:last-child {
          padding-left: 0.6em;
        }
      }
    }

    .delim {
      margin-top: 1em;
    }

    .door-params {
      .row {
        .col {
          &:last-child {
            max-width: 15em;
          }
        }
      }
    }
  }

  .order-data-right {
    margin-top: 2em;

    .row {
      padding: 0;

      .col {
        padding: 0;

        &:first-child {
          text-align: right;
          font-weight: bold;
        }

        &:last-child {
          margin-right: 0.4em;
          text-align: right;
          max-width: 6em;
        }
      }
    }
  }

  .disclaimer {
    position: absolute;
    bottom: 2.8em;
    right: 1em;

    p {
      margin-bottom: 1.5em;
    }

    .signiture {
      position: absolute;
      right: 0;

      .field {
        display: inline-block;
        border-bottom: 0.1em solid black;
        position: relative;
        width: 10em;

        .tip {
          width: 100%;
          position: absolute;
          bottom: -1.5em;
          font-size: 0.8em;
          text-align: center;
          font-style: italic;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 0.2em;
    right: 1em;
    width: 11em;

    span {
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #f78a1f;
      position: absolute;
      font-weight: 700;
      bottom: -1.2em;
      left: 0;
      transform: scaleY(0.85);
      letter-spacing: 0.05em;
    }
  }
}