body {
	font-family: $font-primary;
	font-size: 1.8rem;
	background: $color-bg;
	color: $color-primary;
}


.left_bar {
  width: 315px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,1);
  border-right: 1px solid #ccc;
  font-family: Verdana;
  font-size: 12pt;

  padding: 10px;

  > form {
    height: 100%;
    max-height: 100%;
    overflow: scroll;
  }

  > .left_bar_trigger {
    width: 200px;
    height: 30px;
    background-color: lighten(green, 50);
    position: absolute;
    top: 100px;
    right: -115px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    cursor: pointer;

    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
         -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);

    border-radius: 30px 30px 0 0;
  }

  hr {
    border: 2pt dashed #aaa;
    margin: 40px 0;
  }

  li {
    width: 100%;
    margin: 14px 0 0 0;

    label {
      width: 100%;
      cursor: pointer;
      font-weight: normal;
      margin: 0;

      input[type="text"] {
        width: 100%;
        max-width: 300px;
        font-weight: normal;
      }

      &.number {
        select {
          height: 34px;
          font-weight: normal;
        }

        input {
          position: relative;
          display: inline-block;
          width: 217px;
        }
      }
    }

    .input-group {
      width: 100%;
    }
  }

  .list-inline {
    margin: 0;

    li, label {
      margin: 0;
      width: auto;
    }
  }


  label.radio-inline {
    width: inherit;
  }

  .size {
    width: 100%;
    position: relative;
    height: 34px;
  }

  .size-l, .size-r {
    width: 125px;
    display: inline-block;
    position: absolute;
  }

  .size-r {
    right: 0;
  }

  .cross {
    position: absolute;
    top: 6px;
    right: 133px;
    display: inline-block;
    height: 34px;
  }

  .radiobtns {
    li {
      padding-left: 5px;
      margin-top: 0;

      // &:first-of-type {
      //   margin-top: 0;
      // }

      // input[type="radio"] {

      // }
    }

  }


}




.A4 {
  width: 280mm;
  height: 360mm;
  /*background-color: #cfc;*/
  padding: 10pt;
  margin-bottom: 150pt;
  margin-left: -5mm;
  position: relative;
  /*border: 1pt solid black*/

  * {
    font-family: Verdana;
    font-size: 16pt;
  }

  .logo {
    position: absolute;
    right: 30pt;
    top: 30pt;
    z-index: -1;
    width: 170pt;
  }

  td {
    padding: 6pt 4pt;
  }

  .bold {
    font-weight: 900;
  }

  .door {
    width: 170pt;
    height: 300pt;
    background-color: #ccc;
    border: 2pt solid #000;
    position: absolute;
    right: 30pt;
    top: 340pt;


    .door-descr {
      font-size: 12pt;
      padding: 44% 5pt;
      box-sizing: padding-box;
      text-align: center;
      line-height: 1.7;
      color: #999;
      font-style: italic;

      span {
        font-size: 12pt;
      }
    }

    .hinge, .hinge-2 {
      position: absolute;
      width: 3mm;
      height: 10mm;
      background-color: #fff;
      border: 2pt solid #000;
    }

    .hinge-2 {
      display: none;
    }

    .hinge-top {
      top: 15%;
    }

    .hinge-bottom {
      top: 70%;
    }

    .hinge-left {
      left: -5pt;
    }

    .hinge-right {
      right: -5pt;
    }

    #width {
      box-sizing: padding-box;
      position: absolute;
      top: -22pt;
      width: 100%;
      text-align: center;
    }

    #height {
      box-sizing: padding-box;
      position: absolute;
      left: 110pt;
      height: 100%;
      text-align: center;

      -webkit-transform: rotate(-90deg);
         -moz-transform: rotate(-90deg);
           -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }

    .stvorka {
      height: 100%;
      position: absolute;
      left: 33%;
      border-right: 2pt solid black;

      &.stvorka-left {
        left: 66%;
      }
    }
  }

  table {
    margin: 15pt 0px;
    width: 200mm;
    /*border: 1pt solid black*/
  }

  table tr td:nth-child(1) {
    width: 70mm;
  }

  .cost {
    margin-top: 10mm;
    width: 249mm;
  }

  .cost tr td:nth-child(1) {
    width: 211mm;
  }

  &.tsize-12 * {
    font-size: 12pt
  }

  &.tsize-12 h1 {
    font-size: 14pt;
  }

  &.tsize-12 h1 span {
    font-size: 14pt;
  }

  h1, h2 {
    font-weight: 900;
    text-align: center;
  }

  ol {
    list-style: none;
    counter-reset: li;
  }

  ol > li:before {
    counter-increment: li;
    content: counters(li,".") ". ";
  }

  ol {
    font-weight: 900;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  ol ol, p {
    font-weight: 400;
    text-align: justify;
  }

  li {
    margin-bottom: 4pt;
  }

  ol li {
    margin-top: 0.5cm;
  }

  ol ol li {
    margin-top: inherit;
  }

  .if_install, .if_deliver, .if_selfdeliver {
    display: none;
  }

  .subh {
    margin: 20pt 0;
  }

  .requisites {
    width: 100%;
    font-weight: 400;
    text-align: left !important;
    display: inline-block;
    text-align: center;
    margin-top: -10px;

    .head {
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 10pt;
    }

    small {
      font-size: 9pt;
      font-style: italic;
      display: inline-block;
      padding-left: 37pt;
    }
  }

  .text-right small {
    font-size: 11pt;
    font-style: italic;
    display: inline-block;
    padding-right: 185pt;
  }

  .mp {
    font-size: 9pt;
    /*font-style: italic; */
    display: inline-block;
    padding-left: 134pt;
  }

  ul > li {
    list-style-type: disc;
    margin-left: 20px;
  }
}

.signiture_field {
  position: relative;

  small {
    position: absolute;
    bottom: -20px;
    left: 78px;
  }
}

// Настройка версии для печати
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .noprint {
    display: none;
  }

  .A4 {
    page-break-before: always;
  }

  .door {
    background-color: #ccc;
  }
}