<div class="page-2">
  <h1>
    Договор № {{ order.preId }}–{{ order.id }}<br>
    на изготовление<span *ngIf="order.delivery === 2"> (и&nbsp;установку)</span> металлических дверей
  </h1>
  <div class="subh bold">
    <div class="text-right pull-right">{{ order.orderDate }}</div>
    <div class="text-left">г. Смоленск</div>
  </div>

  <p><strong>ООО «БАСТИОН СТАЛЬНЫЕ ДВЕРИ»</strong>, именуемое в дальнейшем «Исполнитель», в лице генерального директора Полякова Дмитрия Александровича, действующего на основании Устава с одной стороны и
  <strong>{{ order.customer.secondName }} {{ order.customer.firstName }} {{ order.customer.patrName }}</strong>,
  проживающ{{ order.customer.sex === 0 ? "ий" : "aя" }} по адресу:
  <strong>{{ order.customer.address }}</strong>;
  тел.: <strong>{{ order.customer.phones[0] | phoneNumber }}</strong>,
  именуем{{ order.customer.sex === 0 ? "ый" : "aя" }}
  в дальнейшем «Заказчик», с&nbsp;другой стороны, заключили настоящий договор о&nbsp;нижеследующем:</p>

  <ol>
    <li>
      Предмет договора
      <ol>
        <li>Заказчик поручает, а Исполнитель принимает на себя обязательство выполнить работы по изготовлению<span *ngIf="order.delivery === 2"> (и&nbsp;установке)</span> металлических дверей в количестве <strong>1 (одной) шт.</strong>, в&nbsp;соответствии с&nbsp;Бланком-Заказом, который является неотъемлемой частью настоящего Договора, сдать результат работы Заказчику. Заказчик обязуется принять результат работы и оплатить его.</li>

        <li>Исполнитель производит обмер дверных проемов, на основании которого будут изготавливаться двери. Результаты обмера фиксируются в Бланке-Заказе, и подписываются Покупателем.</li>

        <li>Работа выполняется Исполнителем из его материалов, его силами и средствами. Исполнитель несет ответственность за ненадлежащие качество предоставляемых им материалов и оборудования, а также за предоставление материалов и оборудования, обремененных правами третьих лиц.</li>

        <li>Срок выполнения заказа 20 рабочих дней со дня подписания договора.</li>
      </ol>
    </li>

    <li>
      Цена работы. Порядок расчетов по договору
      <ol>
        <li>
          Цена, подлежащей выполнению работы, по настоящему договору составляет <strong>{{ order.cost | delimitNumber }}&nbsp;руб. ({{ order.cost | literalNumber}})</strong>, в том числе:
          <ul>
            <li>
              Дверь металлическая{{ order.door.construction.toLowerCase() === "дмп" ? " противопожарная глухая" : "" }}
              {{ order.door.type === 1 ? "одностворчатая" : "двухстворчатая" }}
              {{ order.door.construction.toLowerCase() === "дмп" ? "ДМП–Г–" + order.door.type + "/ЕI-60" : order.door.construction }}
              ({{ order.door.height }}0&nbsp;&times;&nbsp;{{ order.door.width }}0)
              {{ order.door.openSide === 0 ? "левая" : "правая" }}
              {{ order.preId }}–{{ order.id | slice:0:-8 }}
              <span *ngIf="order.delivery === 2"> (и&nbsp;установкой)</span>
              по цене {{ order.cost | delimitNumber }}&nbsp;руб.&nbsp;— 1&nbsp;шт.
            </li>
          </ul>
        </li>

        <li>Покупатель производит авансовый платёж за дверь в день заключения Договора в размере <strong>{{ order.prepayment | delimitNumber }}&nbsp;руб.</strong></li>

        <li>Оставшаяся сумма в размере <strong>{{ order.cost - order.prepayment | delimitNumber }}&nbsp;руб.</strong> оплачивается наличными денежными средствами (либо через терминал) по факту <strong>отгрузки<span *ngIf="order.delivery === 2"> (доставки и&nbsp;установки)</span></strong> заказа Покупателю.</li>
      </ol>
    </li>

    <li>
      Права и обязанности сторон
      <ol>
        <span class="text-left bold">Исполнитель обязан:</span>
        <li>
          Изготовить и
          <strong>передать<span *ngIf="order.delivery === 1 || order.delivery === 2"> (доставить)</span></strong>
          дверь(и), которая(ые) должен(ы) соответствовать выбранному образцу и&nbsp;указанным данным обмера согласно Бланка-Заказа по адресу:
          <strong>{{ order.customer.address }}</strong><span *ngIf="order.delivery === 0"> (самовывоз)</span>
          тел.: <strong>{{ order.customer.phones[0] | phoneNumber }}</strong>.
        </li>

        <li>
          До момента передачи Заказа обеспечить его сохранность.
        </li>

        <li>
          В случаи возникновения обстоятельств, замедляющих ход работ или делающих дальнейшее продолжение невозможным, немедленно поставить об этом в известность Заказчика.
        </li>

        <div class="text-left bold mt-1">Исполнитель имеет право:</div>
        <li>
          Сдать заказ досрочно по соглашению с Заказчиком.
        </li>

        <li>
          При невозможности выполнить свои обязательства в соответствии с п.1.1, 3.1, 3.2, расторгнуть договор с возвратом Покупателю внесённой им суммы предоплаты и выплатой компенсации за период с момента внесения предоплаты и до дня возврата Покупателю уплаченной им суммы, в размере 0,3% за каждый день, но не более 100% внесенной суммы.
        </li>

        <li>
          Исполнитель считается выполнившим свои обязанности по договору с момента подписания товарной накладной ТОРГ-12, которая подтверждает приемку Заказа, за исключением случаев, установленных в п. 3.11. настоящего Договора.
        </li>

        <div class="text-left bold mt-1">Заказчик имеет право:</div>
        <li>
          Получить для ознакомления информацию об Исполнителе, не являющуюся коммерческой тайной.
        </li>

        <li>
          Внести изменения по конфигурации и комплектации дверей в день оформления договора на основании дополнения к договору, которое подписывается Сторонами.
        </li>

        <div class="text-left bold mt-1">Заказчик обязан:</div>
        <li>
          С момента обмера не предпринимать действия, способные повлечь за собой изменения размеров и (или) конфигурацию проёмов, для которых будут изготавливаться двери.
        </li>

        <li>
          Обеспечить Исполнителю возможность своевременной передачи товара: самовывоз Заказа самим покупателем или его доверенным лицом.
        </li>

        <li>
          При получении двери(ей) провести проверку их внешнего вида, комплектации, количества или ассортимента и подписать товарную накладную ТОРГ-12. В случае обнаружения при приемке Заказа недостатков, брака или несоответствия Заказа характеристикам, указанным в Бланке-Заказе, лица, осуществляющие прием-передачу Заказа обязаны составить и подписать акт об обнаружении недостатков.
        </li>
        <span class="text-left bold">В противном случае претензии приниматься не будут.</span>

        <li>
          При выполнении услуг по установке дверей Покупатель обязан обеспечить возможность выполнения работ по настоящему Договору:
          <ul>
            <li>находиться по адресу установки дверей;</li>

            <li>обеспечить место проведения работ электроэнергией;</li>

            <li>принять меры к защите внутренней отделки помещений от загрязнения и незначительных повреждений, которые могут быть причинены обычными для таких работ действиями.</li>
          </ul>
        </li>
      </ol>
    </li>

    <div class="mt-5 mb-5 pt-5"></div>

    <li>
      Гарантии
      <ol>
        <li>
          «Исполнитель» дает гарантию на продукцию:
          <ul>
            <li>на конструкцию двери 24 месяца;</li>
            <li>на замки 12 месяцев.</li>
          </ul>
          Гарантийный срок исчисляется со дня получения заказа. <br>
          Гарантийные обязательства не распространяется на изделия и замки, если дефекты и поломки произошли в следствии:
          <ul>
            <li>установки изделия в проем с габаритами, не соответствующими размеру данного изделия;</li>
            <li>некачественной (непрофессиональной) установки заказа;</li>
            <li>нарушения правил эксплуатации.</li>
          </ul>
        </li>
      </ol>
    </li>

    <li>
      Ответственность сторон
      <ol>
        <li>Исполнитель оставляет за собой право отсрочить срок исполнения заказа, но не более, чем на 3 рабочих дня, уведомив об этом Заказчика заранее.</li>

        <li>Исполнитель, в случае нарушения срока исполнения заказа, выплачивает Заказчику неустойку в размере 0,3% от суммы внесенной предоплаты за каждый день просрочки, но не более 100% суммы предоплаты.</li>

        <li>Заказчик вправе расторгнуть Договор в любое время, уплатив Исполнителю часть цены заказа, пропорционально понесенным затратам на изготовление заказа.</li>

        <li>За невыполнение или ненадлежащее выполнение своих обязанностей по настоящему договору стороны несут ответственность в соответствии с действующим законодательством РФ.</li>
      </ol>
    </li>

    <li>
      Форс-мажор
      <ol>
        <li>Стороны освобождаются от ответственности за полное или частичное неисполнение обязательств по настоящему договору, если оно явилось следствием обстоятельств непреодолимой силы, а именно – пожара, наводнения, землетрясения, постановлений правительства России и местных органов власти и если эти обстоятельства непосредственно повлияли на исполнение настоящего договора. При этом срок исполнения обязательств по данному договору отодвигается соразмерно времени, в течение которого действовали такие обстоятельства. Если эти обстоятельства будут продолжаться более трех месяцев, то каждая сторона имеет право аннулировать настоящий договор, и в этом случае ни одна из сторон не будет иметь право на возмещение убытков.</li>
      </ol>
    </li>

    <li>
      Порядок разрешения споров
      <ol>
        <li>Все споры и разногласия, которые могут возникнуть в связи с настоящим договором, будут разрешаться путем переговоров между сторонами.</li>

        <li>В случае, если споры и разногласия не будут урегулированы путем переговоров между сторонами, они подлежат разрешению в судебном порядке в соответствии с действующим законодательством РФ.</li>
      </ol>
    </li>

    <li>
      Реквизиты и подписи сторон
      <div class="requisites">
        <div class= "row">
          <div class="col-7">
            <h2>Исполнитель</h2>
            <span class="head">ООО «БАСТИОН СТАЛЬНЫЕ ДВЕРИ»</span>
            <span>
              214031, г.&nbsp;Смоленск, ул.&nbsp;Индустриальная, д.&nbsp;5, оф.&nbsp;601<br>
              ИНН — 6732071868, КПП — 673201001<br>
              р/с — 40702810659000009543 в Смоленском<br>
              отделении №8609 Сбербанка России г.&nbsp;Смоленск<br>
              БИК — 046614632, к/с — 30101810000000000632<br>
              Тел.: 8 (4812) 40-44-19; 8 (4812) 40-60-02<br><br><br>
            </span>
          </div>
          <div class="col-5">
            <h2>Заказчик</h2>
            <span class="head">{{ order.customer.secondName | uppercase }} {{ order.customer.firstName | uppercase }} {{ order.customer.patrName | uppercase }}</span>
            <span>
              Адрес: {{ order.customer.address }}<br>
              тел.: {{ order.customer.phones[0] | phoneNumber }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Ген. директор
            <span class="signiture"><span class="tip">МП</span></span>
            /Поляков Д. А./

          </div>
          <div class="col-5">
            <span class="signiture"><span class="tip">подпись</span></span>
            /{{ order.customer.secondName }}
            {{ order.customer.firstName | slice:0:1 }}.
            {{ order.customer.patrName | slice:0:1 }}./
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>