@media (min-width: 576px) and (max-width: 767px) {.page-2 {font-size: 0.459em;}}
@media (min-width: 768px) and (max-width: 991px) {.page-2 {font-size: 0.63em;}}
@media (min-width: 992px) and (max-width: 1199px) {.page-2 {font-size: 0.87em;}}
@media (min-width: 1200px) {.page-2 {font-size: 1.03em;}}

.page-2 {
  padding: 0;

  .bold {
    font-weight: 900;
  }

  h1 {
    font-weight: 900;
    text-align: center;
    font-size: 1.4em;
  }

  .subh {
    margin: 0.5em 0;
    font-weight: 900;
  }

  p {
    margin-bottom: 0.1em;
  }

  p, ol ol {
    font-weight: 400;
    text-align: justify;
  }

  li {
    margin-bottom: 0.1em;
  }

  ol {
    font-weight: 900;
    text-align: center;
    margin-left: 0;
    padding-left: 0;

    list-style: none;
    counter-reset: li;

    > li {
      margin-top: 0.5em;

      &:before {
        counter-increment: li;
        content: counters(li,".") ". ";
      }
    }
  }

  ol ol li {
    margin-top: inherit;
  }

  ul {
    padding-left: 1.9em;

    > li {
      list-style-type: none;
      position: relative;

      &:before {
        position: absolute;
        left: -1.3em;
        content: "—";
      }
    }
  }

  .requisites {
    width: 100%;
    font-weight: 400;
    text-align: left !important;
    display: inline-block;
    margin-top: 1em;

    h2 {
      font-weight: 900;
      text-align: center;
      font-size: 1.2em;
    }

    .head {
      display: block;
      text-align: center;
      margin-bottom: 1em;
    }

    .signiture {
      display: inline-block;
      border-bottom: 0.1em solid black;
      position: relative;
      width: 10em;

      .tip {
        width: 100%;
        position: absolute;
        bottom: -1.5em;
        font-size: 0.8em;
        text-align: center;
        font-style: italic;
      }
    }
  }
}