@media (max-width: 1199px) {
  .modal-lg {
    max-width: 95%;
  }
}
@media (min-width: 1200px) {
  .modal-lg {
    max-width: 1200px;
  }
}

.modal-content {
  background-color: white;
  border-right: 1px solid #ccc;
  font-family: Verdana;
  font-size: 12pt;
  padding: 10px;
}

.modal-header {
  position: relative;

  .print-button, .upload-button, .download-button {
    display: block;
    position: absolute;
    top: 17px;
  }

  .print-button {
    right: 15px;
  }

  .download-button {
    top: 18px;
    right: 45px;
  }

  .upload-button {
    right: 75px;
  }
}