<div class="modal fade order-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <header class="modal-header d-block text-center">
        <h4>Данные заказа</h4>
        <a class="print-button" href="#" (click)="modalPrint()"
           data-toggle="tooltip" data-placement="right" title="Напечатать">
          <fa-layers class="fa-lg">
            <fa-icon [icon]="['fas', 'print']"></fa-icon>
          </fa-layers>
        </a>
        <a class="upload-button hidden-xl-down" href="#" (click)="doNothing($event)"
           data-toggle="tooltip" data-placement="bottom" title="Загрузить">
           <fa-layers class="fa-lg">
             <fa-icon [icon]="['fas', 'upload']"></fa-icon>
           </fa-layers>
        </a>
        <a class="download-button hidden-xl-down" href="#" (click)="doNothing($event)"
           data-toggle="tooltip" data-placement="left" title="Сохранить">
           <fa-layers class="fa-lg">
             <fa-icon [icon]="['fas', 'download']"></fa-icon>
           </fa-layers>
        </a>
      </header>
      <div class="modal-body">
        <na-form [order]="order"></na-form>
      </div>
    </div>
  </div>
</div>