<div class="row">
  <div class="col">
    <label class="form-group number">
      Номер договора
      <div>
        <select class="form-control form-control-sm"
          [(ngModel)]="order.preId" (change)="updateTitle()">
          <option value="Б">Б</option>
          <option value="Ц">Ц</option>
        </select>
        &ndash;
        <input type="text" class="form-control form-control-sm"
          placeholder="№/месяц/год" [(ngModel)]="order.id" (keyup)="updateTitle()">
      </div>
    </label>

    <label class="form-group">
      Дата заключения договора
      <div class="input-group date">
        <input type="text"
          class="form-control form-control-sm datepicker order"
          placeholder="ДД.ММ.ГГГГ" [(ngModel)]="order.orderDate">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
      </div>
    </label>

    <label class="form-group">
      Дата установки<br>
      <div class="input-group date">
        <input type="text"
          class="form-control form-control-sm datepicker install"
          placeholder="ДД.ММ.ГГГГ" [(ngModel)]="order.installDate">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
      </div>
    </label>

    <label class="form-group">
      Обращение<br>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"
            (click)="order.customer.sex = 0"
            [checked]="order.customer.sex === 0">
          Господин
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"
            (click)="order.customer.sex = 1"
            [checked]="order.customer.sex === 1">
          Госпожа
        </label>
      </div>
    </label>

    <label class="form-group">
      Фамилия
      <input type="text" class="form-control form-control-sm"
        placeholder="Иванов" [(ngModel)]="order.customer.secondName">
    </label>

    <label class="form-group">
      Имя
      <input type="text" class="form-control form-control-sm"
        placeholder="Иван" [(ngModel)]="order.customer.firstName">
    </label>

    <label class="form-group">
      Отчество
      <input type="text" class="form-control form-control-sm"
        placeholder="Иванович" [(ngModel)]="order.customer.patrName">
    </label>

    <label class="form-group">
      Адрес установки
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.customer.address">
    </label>

    <label class="form-group">
      Контактный телефон (осн.)
      <span class="input-group">
        <div class="input-group-addon">+7</div>
        <input type="text" class="form-control form-control-sm"
          placeholder="(910) 123-45-67" [(ngModel)]="order.customer.phones[0]">
      </span>
    </label>

    <label class="form-group">
      Контактный телефон (доп.)
      <span class="input-group">
        <!-- <input type="text" class="form-control form-control-sm text-right" placeholder="ширина"> -->
        <div class="input-group-addon">+7</div>
        <input type="text" class="form-control form-control-sm"
          placeholder="(920) 123-45-67" [(ngModel)]="order.customer.phones[1]">
      </span>
    </label>
  </div>

  <!-- Комплектация двери -->
  <div class="col">
    <label class="form-group">
      Конструкция
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.construction">
    </label>

    <label class="form-group">
      Отделка наружная
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.otdOut">
    </label>

    <label class="form-group">
      Отделка внутренняя
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.otdIn">
    </label>

    <label class="form-group">
      Наличник
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.nalich">
    </label>

    <label class="form-group">
      Глазок
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.glaz">
    </label>

    <label class="form-group">
      Задвижка
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.zadv">
    </label>

    <label class="form-group">
      Замок верхний
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.lockTop">
    </label>

    <label class="form-group">
      Замок нижний
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.lockBottom">
    </label>

    <label class="form-group">
      Ручка
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.furnitura">
    </label>

    <label class="form-group">
      Личина
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.lich">
    </label>

    <label class="form-group">
      Броненакладка
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.bronenakl">
    </label>

    <label class="form-group">
      Внутр. утепл.
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.door.warmer">
    </label>
  </div>

  <!-- Параметры двери -->
  <div class="col">
    <label class="form-group">
      Размеры двери
      <div class="size">
        <div class="size-l">
          <span class="input-group">
            <input type="text"
              class="form-control form-control-sm"
              placeholder="ширина"
              [(ngModel)]="order.door.width">
            <div class="input-group-addon">см</div>
          </span>
        </div>
        <div class="cross">&times;</div>
        <div class="size-r">
          <span class="input-group">
            <input type="text"
              class="form-control form-control-sm"
              placeholder="высота"
              [(ngModel)]="order.door.height">
            <div class="input-group-addon">см</div>
          </span>
        </div>
      </div>
    </label>

    <div class="form-group">
      Тип конструкции
      <div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"
              (click)="onDoorTypeOneClick()"
              [checked]="order.door.type === 1">
            одно-
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"
              (click)="onDoorTypeTwoClick()"
              [checked]="order.door.type === 2">
            двух- створчатая
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      Тип открывания
      <div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"
              (click)="order.door.openingType = 0"
              [checked]="order.door.openingType === 0">
            внутрь
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"
              (click)="order.door.openingType = 1"
              [checked]="order.door.openingType === 1">
            наружу
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      Сторона открывания
      <div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"
              (click)="order.door.openSide = 0"
              [checked]="order.door.openSide === 0">
            левая
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"
              (click)="order.door.openSide = 1"
              [checked]="order.door.openSide === 1">
            правая
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      Способ выдачи изделия
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"
            (click)="order.delivery = 0"
            [checked]="order.delivery === 0">
          самовывоз
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"
            (click)="order.delivery = 1"
            [checked]="order.delivery === 1">
          только доставка
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"
            (click)="order.delivery = 2"
            [checked]="order.delivery === 2">
          доставка и установка
        </label>
      </div>
    </div>

    <hr>

    <label class="form-group">
      Примечания
      <input type="text" class="form-control form-control-sm"
        [(ngModel)]="order.notes">
    </label>

    <hr>

    <label class="form-group price">
      Стоимость
      <div class="input-group">
        <input type="text"
          class="form-control form-control-sm text-right"
          [(ngModel)]="order.cost">
        <div class="input-group-addon">.00 руб.</div>
      </div>
    </label>

    <label class="form-group price">
      Аванс
      <div class="input-group">
        <input type="text"
          class="form-control form-control-sm text-right"
          [(ngModel)]="order.prepayment">
        <div class="input-group-addon">.00 руб.</div>
      </div>
    </label>
  </div>
</div>